*{
    max-width: 1920px;
    overflow-x: hidden;
}

body {
    background-image: linear-gradient(90deg, #00000000 17%, #acacac 17%, #acacac 20%, white 20%, white 80%, #464646 80%, #464646 83%, #00000000 83%), linear-gradient(90deg, #996600 0%, black 17%, black 83%, #996600 100%);
    background-repeat: no-repeat;
}

#index{
    background-color: #996600;
}

h1, h2, h3, h4, h5, h6{
    overflow-y: hidden;
}

.text-shadowe {
    text-shadow: -2px 2px #ffcc00, 2px -2px black;
    background-color: #99660088;
}

.b{
    background: #99660088;
}

.slide-in {
    animation-name: slide-in;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0.75, 0.5, 0.25, 1);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes slide-in {
    0% {
        opacity: 0%;
    } 100% {
        opacity: 100%;
    }
}


.img{
    border-radius: 25px;
    box-shadow: 5px 5px 10px white, -5px -5px 10px white, 5px -5px 10px white, -5px 5px 10px white;
    height: 300px;
}

.img-o{
    border-radius: 25px;
    width:50%
}

.img-s{
    border-radius: 25px;
    width:10%;
}

.img-l{
    border-radius: 25px;
    width: 30%;
}

.w-32{
    width: 32%;
}

.disc{
    top: 30px;
}

.mb-6p1{
    margin-bottom: 6.1%;
}

.ml-4p65{
    margin-left: 4.7%;
}

.w-90p64{
    width: 90.64%;
}

.hyperlink{
    height: 633px;
    background-color: #00000000;
    padding-top: 100px;
    transition-duration: .5s;
}

.hyperlink:hover{
    transition-duration: .5s;
    background-color: #00000088;
}

.w-66{
    width: 66.2%
}

.w-33{
    width: 33%;
}

.w-17{
    width: 17%;
}

.ml-11p5{
    margin-left: 11.5%;
}

.ml-3{
    margin-left: 2.8%;
}

.w-26{
    width: 26%;
}

.ml-4{
    margin-left: 3.6%;
}

.w-16p9{
    width: 16.9%;
}

.mt-1{
    margin-top: 1%;
}

.mt-8{
    margin-top: 4.44%;
}

.ml-16p89{
    margin-left: 16.89%;
}

.bg{
    background-color: #ffffff88;
}

.fs-48{
    font-size: 48px;
}

.mr-18p9{
    margin-right: 18.9%;
}